/* vote_form.css */

div:is(#vote_booth, #vote_acknowledge_page) {
    display: flex;
    flex-flow: column;
    width: 70vw;
    min-height: 60vh;
    justify-content: space-evenly;
    margin-left: 15vw;
    margin-top: 20vh;
    background-color: #ECECEC;
    border-radius: 15px;
}

div#vote_booth div#booth_header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

div#vote_booth div#booth_header span {
    width: 15vw;
    text-align: center;
    font-size: 1.2em;
}

div#vote_booth h1 {
    text-align: center;
}

div#vote_booth form {
    display: flex;
    flex-flow: column;
    row-gap: 1vh;
    margin-left: 6vw;
    margin-right: 6vw;
}

div#vote_booth form label:not(.options) {
    font-weight: bold;
}

div#vote_booth form label:nth-child(3) {
    margin-top: 3vh;
}

div#vote_booth form label.options {
    display: flex;
    flex-flow: row;
    align-items: center;
    column-gap: 2vw;
    padding: 1vh 1vw 1vh 1vw;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

div#vote_booth form label.options input[type=radio] {
    display: none;
}

div#vote_booth form label.options:is(:hover, :has(input[type=radio]:checked)){
    background: linear-gradient(180deg, #CDE7C8, #A1E994);
}

div#vote_booth form>:is(:not(label, button), label.options) {
    margin-left: 3vw;
}

div#vote_booth form button {
    align-self: flex-end;
    margin-top: 5vh;
    cursor: pointer;
    background: linear-gradient(180deg, #78B8E9, #3997E6);
    border: 1px solid #455f85;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    padding: .8vh 1vw .8vh 1vw;
}

div#vote_booth form .hidden {
    display: none;
}

div#vote_acknowledge_page {
    align-items: center;
}