<!-- createvoteevent.html -->

{% extends "eventowner/homepage_base.html" %}
{% load static %}

{% block tab_title %} Create New Vote Event {% endblock %}

{% block title %} Create New Vote Event {% endblock %}

{% block js_scripts %}
<script src="{% static 'eventowner/js/createvoteevent.js' %}"></script>
{% endblock %}

{% block stylesheet_links %}
<link rel="stylesheet" href="{% static 'eventowner/css/voteevent_form.css' %}" />
{% endblock %}


{% block content %}
<div id="vote_event_form">
    <h2>Vote Information</h2>
    <p>{{ status }}</p>
    <form action="/evoting/eventowner/createevent" method="POST" enctype="multipart/form-data"
        onsubmit="formSubmit(event)">
        {% csrf_token %}
        <label>Vote Event Name<span class="red_asterisk">*</span></label>
        <input type="text" name="eventTitle" placeholder="Vote Event Name" value="{{ form.eventTitle.value }}"
            required />

        <span class="row_flex_flow">
            <label>
                Vote Start Date<span class="red_asterisk">*</span>:
                <input type="date" name="startDate" value="{{ form.startDate.value }}" required />
            </label>

            <label>
                Vote End Date<span class="red_asterisk">*</span>:
                <input type="date" name="endDate" value="{{ form.endDate.value }}" required />
            </label>
        </span>

        <span class="row_flex_flow">
            <label>
                Vote Start Time<span class="red_asterisk">*</span>:
                <input type="time" name="startTime" value="{{ form.startTime.value }}" required />

            </label>

            <label>
                Vote End Time<span class="red_asterisk">*</span>:
                <input type="time" name="endTime" value="{{ form.endTime.value }}" required />
            </label>
        </span>


        <label>Vote Question<span class="red_asterisk">*</span></label>
        <input type="text" name="eventQuestion" placeholder="Vote Question" value="{{ form.eventQuestion.value }}" />

        <span class="row_flex_flow options_and_file">
            <span id="vote_options">
                <label>Vote Options<span class="red_asterisk">*</span></label>
                {% if not voteOptions %}
                    <span class="fields">
                        <input type="text" name="voteOption" placeholder="Vote Option" />
                    </span>
                {% else%}
                    {% for item in voteOptions %}
                        <span class="fields">
                            <input type="text" name="voteOption" placeholder="Vote Option" value="{{ item }}" />
                            <button type="button" onclick="removeOptions(event)">Remove</button>
                        </span>
                    {% endfor %}
                {% endif %}
                <button type="button" onclick="addOptions()">Add More Options</button>
            </span>

            <span class="row_flex_flow voter_emails">
                <label>Participants<span class="red_asterisk">*</span>:</label>
                <input type="file" name="voterEmail" accept=".csv" required />
                <a id="csv_downloader" href="" target="_blank" download="Voter_Email_CSV">Download CSV Template</a>
            </span>
        </span>


        <span class="row_flex_flow right_align">
            <button type="button">Cancel</button>
            <button type="submit">Confirm</button>
        </span>
    </form>
</div>
{% endblock %}