<!-- login.html -->

<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Owner Login</title>

    <!-- jsHashes library CDN -->
    <script src="https://cdn.rawgit.com/h2non/jsHashes/master/hashes.js"></script>

    <script src="{% static 'eventowner/js/login.js' %}"></script>

    <link rel="stylesheet" href="{% static 'eventowner/css/login.css' %}" />
</head>

<body>
    <div id="content_pane">
        <div id="left_pane">
            <h1>Login</h1>
            <p>{{ status }}</p>
            <form action="/evoting/eventowner/login" method="POST" onsubmit="submit_login()">
                {% csrf_token %}
                <span class="field">
                    <label>Email</label>
                    <input type="text" name="email" required />
                </span>
                <span class="field">
                    <label>Password</label>
                    <input id="password_input" type="password" name="password" required />
                </span>

                <button type="submit">Sign In</button>
            </form>

            <span id="annotation">
                Don't have an account ? <a href="/evoting/eventowner/createaccount">Sign Up</a>
            </span>
        </div>

        <div id="right_pane">
            <img src="{% static 'eventowner/img/sample1.png' %}" />
        </div>
    </div>
</body>

</html>