<!-- ongoing_voteevent.html -->

{% extends "eventowner/homepage_base.html" %}
{% load static %}
{% load extrahelper %}

{% block tab_title %} {{ title }} {% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block stylesheet_links %}
<link rel="stylesheet" href="{% static 'eventowner/css/ongoing_completed_voteevent.css' %}" />
{% endblock %}

{% block email %}
<span> {{UserDetails.email}}</span>
{% endblock %}

{% block introduction %}
<span> Welcome, {{UserDetails.lastName}} {{UserDetails.firstName}}</span>
{% endblock %}

{% block content %}
<div id="completed_vote_event_page">
    <div id="summary">
        <h2>Summary</h2>
        {% for countitem, labelitem in EventDetail %}
            {{labelitem}}{{countitem}} <br/>
        {% endfor %}
    </div>

    <div id="completed_vote_events">
        <span>
            <h2>Ongoing Vote Events</h2>
            <input type="text" placeholder="Search" />
            <select>
                <option>Seq No.</option>
            </select>
        </span>
    
        <table>
            <tr class="header">
                <th>Seq No</th>
                <th>Name</th>
                <th>Event Date</th>
                <th>Event Time</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% if not VoteEvents %}
            <tr class="no_records">
                <td colspan="6">You have no Vote Event records, let's create one !</td>
            </tr>
            {% endif %}
            {% for event in VoteEvents %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{event.eventTitle}}</td>
                <td>{{event|concat_period:'date'|linebreaks}}</td>
                <td>{{event|concat_period:'time'|linebreaks}}</td>
                <td>{{event|status_abbreviation}}</td>
                <td class="buttons_col">
                    <button class="button_2" type="button" onclick="window.location.href='/harpocryption/eventowner/viewevent/' + '{{event.eventNo}}'">View</button>
                    <form action="/harpocryption/eventowner/deleteevent/{{event.eventNo}}" method="POST">
                        {% csrf_token %}
                        <button class="button_2" type="button" onclick="display_pop_out_message_box(event, 'Do you want to delete this vote event ?')">Delete</button>
                    </form>
                    <br />
                    <button class="button_2" type="button" {% if event.status != "PC" and event.status != "PB" %} disabled {% endif %} onclick="window.location.href='/harpocryption/eventowner/updateevent/' + '{{event.eventNo}}'">Modify</button>
                    <form action="/harpocryption/eventowner/confirmevent/{{event.eventNo}}" method="POST">
                        {% csrf_token %}
                        <button class="button_2" type="button" {% if event.status != "PC" %} disabled {% endif %} onclick="display_pop_out_message_box(event, 'Are you confirmed to publish this vote event ?')">Confirm</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}