<!-- overview.html -->

{% extends "eventowner/homepage_base.html" %}
{% load static %}
{% load extrahelper %}

{% block tab_title %} Overview {% endblock %}

{% block title %} Overview {% endblock %}

{% block js_scripts %}
<script src="{% static 'eventowner/js/overview.js' %}"></script>
{% endblock %}

{% block stylesheet_links %}
<link rel="stylesheet" href="{% static 'eventowner/css/overview.css' %}" />
{% endblock %}

{% block email %}
<span> {{UserDetails.email}}</span>
{% endblock %}

{% block introduction %}
<span> Welcome, {{UserDetails.lastName}} {{UserDetails.firstName}}</span>
{% endblock %}

{% block content %}
<div id="summary">
    <h2>Summary</h2>
    {% for countitem, labelitem in EventDetail %}
        {{labelitem}}{{countitem}} <br/>
    {% endfor %}
</div>

<div id="miscellaneous">
    <span id="links">
        <h2>Miscellaneous</h2>
        <a>Terms Of Services</a>
        <a>Support</a>
        <a>Privacy Policy</a>
        <a>About</a>
    </span>

    <span id="annotation">&copy; evoting.com 2022</span>
</div>


<div id="vote_events">
    <span>
        <h2>Your Vote Events</h2>
        <span class="createevent_section">
            <button id="create_vote_event_btn" type="button" onclick="window.location.href = '/evoting/eventowner/createevent'">Create New Vote Event</button>
        </span>
        <input type="text" placeholder="Search" />
        <select>
            <option>Seq No.</option>
        </select>
    </span>

    <table>
        <tr class="header">
            <th>Seq No</th>
            <th>Name</th>
            <th>Event Date</th>
            <th>Event Time</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% if not VoteEvents %}
        <tr class="no_records">
            <td colspan="6">You have no Vote Event records, let's create one !</td>
        </tr>
        {% endif %}
        {% for event in VoteEvents %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{event.eventTitle}}</td>
            <td>{{event|concat_period:'date'|linebreaks}}</td>
            <td>{{event|concat_period:'time'|linebreaks}}</td>
            <td>{{event|status_abbreviation}}</td>
            <td class="buttons_col">
                <button type="button" onclick="window.location.href='/evoting/eventowner/viewevent/' + '{{event.eventNo}}'">View</button>
                <form action="/evoting/eventowner/deleteevent/{{event.eventNo}}" method="POST">
                    {% csrf_token %}
                    <button type="button" onclick="display_pop_out_message_box(event, 'Do you want to delete this vote event ?')">Delete</button>
                </form>
                <br />
                <button type="button" {% if event.status != "PC" and event.status != "PB" %} disabled {% endif %} onclick="window.location.href='/evoting/eventowner/updateevent/' + '{{event.eventNo}}'">Modify</button>
                <form action="/evoting/eventowner/confirmevent/{{event.eventNo}}" method="POST">
                    {% csrf_token %}
                    <button type="button" {% if event.status != "PC" %} disabled {% endif %} onclick="display_pop_out_message_box(event, 'Are you confirmed to publish this vote event ?')">Confirm</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<span id="pop_out_message_box">
    <h3>evoting.com</h3>
    <p id="message_content"></p>
    <p class="buttons">
        <button id="cancel_btn" type="button" onclick="hide_pop_out_message_box()">Cancel</button>
        <button id="confirm_btn" type="button">OK</button>
    </p>
</span>
{% endblock %}