<!-- signup.html -->

<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <link rel="stylesheet" href="{% static 'eventowner/css/signup.css' %}" />
</head>

<body>
    <div id="content_pane">
        <div id="left_pane">
            <h1>Sign up</h1>
            <form action="/evoting/eventowner/createaccount" method="POST">
                {% csrf_token %}
                <span class="field">
                    <label>Username</label>
                    <input type="text" name="username" />
                </span>
                <span class="field">
                    <label>Email</label>
                    <input type="text" name="email" />
                </span>
                <span class="field">
                    <label>Password</label>
                    <input type="text" name="password" />
                </span>

                <button type="submit">Sign Up</button>
            </form>

            <span id="annotation">
                Have an account ? <a href="">Sign in</a>
            </span>
        </div>

        <div id="right_pane">
            <img src="{% static 'eventowner/img/sample1.png' %}" />
        </div>
    </div>

</body>

</html>