<!-- signup.html -->

<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="{% static 'eventowner/js/signup.js' %}"></script>
    <link rel="stylesheet" href="{% static 'eventowner/css/signup.css' %}" />
</head>

<body>
    <div id="content_pane">
        <div id="left_pane">
            <h1>Sign up</h1>
            <p class="{% if status %} error_msg {% endif %}">{{ status }}</p>
            <form action="/evoting/eventowner/createaccount" method="POST">
                {% csrf_token %}
                <span class="field">
                    <label>First Name</label>
                    <input type="text" name="firstname" value="{{form.firstname.value}}" required />
                </span>
                <span class="field">
                    <label>Last Name</label>
                    <input type="text" name="lastname" value="{{form.lastname.value}}" required />
                </span>
                <span class="field email_field">
                    <label>Email</label>
                    <input type="text" name="email" value="{{form.email.value}}" required />
                    <button id="otp_request_btn" type="button" onclick="requestOTP()">Get OTP</button>
                </span>
                <span class="field">
                    <label>Gender</label>
                    <select name="gender" value="{{form.gender.value}}" required >
                        <option value="" selected disabled>--- Gender ---</option>
                        <option value="M" {% if form.gender.value == "M" %} selected {% endif %}>Male</option>
                        <option value="F" {% if form.gender.value == "F" %} selected {% endif %}>Female</option>
                        <option value="O" {% if form.gender.value == "O" %} selected {% endif %}>Other</option>
                    </select>
                </span>
                <span class="field">
                    <label>Password</label>
                    <input type="password" name="password" oninput="checkPassword(event)" required />
                </span>
                <span class="field">
                    <label>Re-Enter Password</label>
                    <input type="password" name="repeat_password" required />
                </span>
                <span class="field criteria_field">
                    <span class="criteria">
                        Length between 8 - 32 <span id="length_indicator"></span>
                    </span>
                    <span class="criteria">
                        No Spacing <span id="spacing_indicator"></span>
                    </span>
                    <span class="criteria">
                        At Least One Uppercase Letter<span id="uppercase_indicator"></span>
                    </span>
                    <span class="criteria">
                        At Least One Lowecase Letter<span id="lowercase_indicator"></span>
                    </span>
                    <span class="criteria">
                        At Least One Digit <span id="digit_indicator"></span>
                    </span>
                    <span class="criteria">
                        At Least One Special Character <span id="special_char_indicator"></span>
                    </span>
                </span>
                <span class="field last_field">
                    <label>OTP</label>
                    <input type="text" name="otp" value="{{form.otp.value}}" required />
                </span>  
                <div class="g-recaptcha" data-sitekey="6LewIOMjAAAAAIYzZ4zwBv3hcLKgtcDUOVKPbI2x" style="grid-column:span 2"></div> 
                <button id="form_submit_btn" type="submit">Sign Up</button>
            </form>

            <span id="annotation">
                Have an account ? <a href="/evoting/eventowner/login">Login</a>
            </span>
        </div>

        <div id="right_pane">
            <img src="{% static 'eventowner/img/sample1.png' %}" />
        </div>
    </div>

</body>

</html>