<!-- voteevent_details.html -->

{% extends "eventowner/homepage_base.html" %}
{% load static %}
{% load extrahelper %}

{% block tab_title %} {{ title }} {% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block js_scripts %}
<script src="{% static 'eventowner/js/voteevent_details.js' %}"></script>
{% endblock %}

{% block stylesheet_links %}
<link rel="stylesheet" href="{% static 'eventowner/css/voteevent_details.css' %}" />
{% endblock %}

{% block email %}
<span> {{UserDetails.email}}</span>
{% endblock %}

{% block introduction %}
<span> Welcome, {{UserDetails.lastName}} {{UserDetails.firstName}}</span>
{% endblock %}

{% block content %}
<div id="vote_details_page">
    <h2>Vote Information</h2>
    <div id ="vote_details_section">
        <label style="margin-top: 1vh;margin-bottom: 3vh">Vote Event Name: <span class="label_ans">{{VoteDetails.eventTitle}}</span></label>

        <span class="row_flex_flow">
            <div class="container">
                <label>
                    Vote Event Start Date:
                </label>
                <div class="label_ans">{{VoteDetails.startDate|date:"j F Y"}}</div>
            </div>

            <div class="container">
                <label>
                    Vote Event End Date:
                </label>
                <div class="label_ans">{{VoteDetails.endDate|date:"j F Y"}}</div>
            </div>
        </span>

        <span class="row_flex_flow">
            <div class="container">
                <label>
                    Vote Event Start Time:
                </label>
                <div class="label_ans">{{VoteDetails.startTime}}</div>
            </div>

            <div class="container">
                <label>
                    Vote Event End Time:
                </label>
                <div class="label_ans">{{VoteDetails.endTime}}</div>
            </div>
        </span>

        <span class="row_flex_flow">
            <div class="container">
                <label>
                    Vote Question:
                </label>
                <div class="label_ans">{{VoteDetails.eventQuestion}}</div>
            </div>
            <div class="container">
                <label>
                    Vote Event Status:
                </label>
                <div class="label_ans">{{VoteDetails|status_abbreviation}}</div>
            </div>
        </span>

        <span class="row_flex_flow options">
            <div class="container">
                <label>
                    Vote Options:
                </label>
                {% for option in VoteOptions %}
                <div class="label_ans">{{forloop.counter}}. {{option.voteOption}}</div>
                {% endfor %}
            </div>

            <div class="container">
                <label>
                    Participants: <span class="label_ans">{{Voter|length}}</span>
                </label>
                    <table>
                        <tr class="header">
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                        {% for participants in Voter %}
                        <tr>
                            <td>{{participants.name}}</td>
                            <td>{{participants.email}}</td>
                        </tr>
                        {% endfor %}
                    </table>
            </div>
        </span>
        <div id="action_buttons">
            <button class="button_2" type="button" onclick="window.history.back()">Back</button>
            <button class="button_2" type="button" {% if VoteDetails.status != "FR" and VoteDetails.status != "RP" %} disabled {% endif %} onclick="window.location.href='/harpocryption/eventowner/event/finalresult/' + '{{VoteDetails.eventNo}}'" >View Final Result</button>
        </div>
    </div>
</div>

<span id="pop_out_message_box">
    <h3>harpocryption.com</h3>
    <p id="message_content"></p>
    <p class="buttons">
        <button class="button_3" id="confirm_btn" type="button">OK</button>
    </p>
</span>
{% endblock %}