<!-- voteevent_form.html -->

{% extends "eventowner/homepage_base.html" %}
{% load static %}

{% block tab_title %} {{ title }} {% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block js_scripts %}
<script src="{% static 'eventowner/js/voteevent_form.js' %}"></script>
{% endblock %}

{% block stylesheet_links %}
<link rel="stylesheet" href="{% static 'eventowner/css/voteevent_form.css' %}" />
{% endblock %}

{% block email %}
<span> {{UserDetails.email}}</span>
{% endblock %}

{% block introduction %}
<span> Welcome, {{UserDetails.lastName}} {{UserDetails.firstName}}</span>
{% endblock %}

{% block content %}
<div id="vote_event_form">
    <h2>Vote Information</h2>
    <p class="{% if status %} error_msg {% endif %}">{{ status }}</p>
    <form action="{{ form_action }}" method="POST" enctype="multipart/form-data"
        onsubmit="formSubmit(event)">
        {% csrf_token %}
        <label>Vote Event Name<span class="red_asterisk">*</span></label>
        <input type="text" name="eventTitle" placeholder="Vote Event Name" value="{{ form.eventTitle.value }}" 
            {% if event_status and event_status == "PB" %} readonly {% else %} required {% endif %}/>

        <span class="row_flex_flow">
            <label>
                Vote Start Date<span class="red_asterisk">*</span>:
                <input type="date" name="startDate" value="{{ form.startDate.value }}" {% if event_status and event_status == "PB" %} readonly {% else %} required {% endif %} />
            </label>

            <label>
                Vote End Date<span class="red_asterisk">*</span>:
                <input type="date" name="endDate" value="{{ form.endDate.value }}" required />
            </label>
        </span>

        <span class="row_flex_flow">
            <label>
                Vote Start Time<span class="red_asterisk">*</span>:
                <input type="time" name="startTime" value="{{ form.startTime.value }}" {% if event_status and event_status == "PB" %} readonly {% else %} required {% endif %} />

            </label>

            <label>
                Vote End Time<span class="red_asterisk">*</span>:
                <input type="time" name="endTime" value="{{ form.endTime.value }}" required />
            </label>
        </span>


        <label>Vote Question<span class="red_asterisk">*</span></label>
        <input type="text" name="eventQuestion" placeholder="Vote Question" value="{{ form.eventQuestion.value }}" {% if event_status and event_status == "PB" %} readonly {% else %} required {% endif %} />

        <span class="row_flex_flow options_and_file">
            <span id="vote_options">
                <label>Vote Options<span class="red_asterisk">*</span></label>
                {% if not voteOptions %}
                    <span class="fields">
                        <input type="text" name="voteOption" placeholder="Vote Option" required />
                    </span>
                    <span class="fields">
                        <input type="text" name="voteOption" placeholder="Vote Option" required />
                    </span>
                {% else%}
                    {% for item in voteOptions %}
                        <span class="fields">
                            <input type="text" name="voteOption" placeholder="Vote Option" value="{{ item }}" {% if event_status and event_status == "PB" %} readonly {% else %} required {% endif %} />
                            {% if event_status and event_status == "PC" and forloop.counter > 2 %}
                            <button type="button" onclick="removeOptions(event)">Remove</button>
                            {% endif %}
                        </span>
                    {% endfor %}
                {% endif %}
                {% if not event_status or event_status == "PC" %}<button type="button" onclick="addOptions()" >Add More Options</button>{% endif %}
            </span>

            <span class="row_flex_flow voter_emails">
                <label>Participants {% if not event_status %} <span class="red_asterisk">*</span> {% endif %}:</label>
                <input type="file" name="voterEmail" accept=".csv" {% if not event_status %} required {% endif %} />
                <a id="csv_downloader" href="" target="_blank" download="Voter_Email_CSV">Download CSV Template</a>
            </span>
        </span>


        <span class="row_flex_flow right_align">
            <button type="button" onclick="backToHomepage()">Cancel</button>
            <button id="submit_vote_event_btn" type="submit">Confirm</button>
        </span>
    </form>
</div>
{% endblock %}