/* homepage_base.css */

div#content_pane {
    display: flex;
    flex-direction: row;
}

/* left pane stying */

div#content_pane>div#left_pane {
    width: 20vw;
    display: flex;
    flex-flow: column;
}

div#content_pane>div#left_pane span#logo {
    background-color: #ECECEC;
    height: 10vh;
}

div#content_pane>div#left_pane span#side_menu_bar {
    background-color: #000000;
    height: 88vh;
}

div#content_pane>div#left_pane span#side_menu_bar * {
    color: white;
}

div#content_pane>div#left_pane span#side_menu_bar span.menu_item {
    padding: 4vh 3vw 4vh 3vw;
}

div#content_pane>div#left_pane span#side_menu_bar span.last_item {
    margin-bottom: auto;
}

div#content_pane>div#left_pane span#side_menu_bar span.logout_section {
    align-items: center;
}

div#content_pane>div#left_pane span#side_menu_bar span.logout_section button {
    cursor: pointer;
    background-color: #3F54BE;
    border: none;
    border-radius: 1em;
    color: #FFFFFF;
    padding: 1.2vh 2.5vw 1.2vh 2.5vw;
    margin: 2vh 0 5vh 0;
}

div#content_pane>div#left_pane span:not(#logo) {
    display: flex;
    flex-direction: column;
    /* margin-left: 1.5vw; */
}

/* right pane styling */

div#content_pane>div#right_pane {
    width: 80vw;
    padding: 0 2vw 0 2vw;
    background-color: #F5F5F5;
}

div#content_pane>div#right_pane div#header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

/* session timeout alert box */
span#session_timeout_alert {
    display: none;
    text-align: center;
    padding-bottom: 1.5vh;
    position: fixed;
    width: 30vw;
    top: 5vh;
    left: 40vw;
    border: 1px dashed #000000;
    border-radius: 12px;
    background-color: #C9D3E2;
    margin: 1em;
    box-shadow: .5vw .8vh #CCCCCC;
}