/* index.css combine with about.html*/

div#content_pane {
    display: flex;
    flex-flow: column;
    min-height: 96vh;
}

div#content_pane div#header {
    display: flex;
    flex-flow: row;
    column-gap: 1vw;
    padding: 1vw 4vw 1vw 4vw;
    align-items: center;
}

div#content_pane div#header :first-child {
    margin-right: auto;
}

div#content_pane div#header span.menu_items {
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    padding: 1vh 2vw 1vh 2vw;
    transition: all 1s ease-in-out;
}

div#content_pane div#header span.menu_items:hover {
    background-color: #D9DCF0;
}

div#content_pane div#banner {
    background: #ECECEC;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 40vw);
    padding: 2vh 0 2vh 0;
    column-gap: 5vw;
}

div#content_pane div#banner div#banner_left {
    display: flex;
    flex-flow: column;
    row-gap: 4vh;
    align-items: flex-start;
    text-align: justify;
}

div#content_pane div#banner div#banner_left button#start_button {
    background-color: #3F54BE;
    padding: 1.2vh 2.5vw 1.2vh 2.5vw;
    color: white;
    border: none;
    border-radius: 10px;
}

div#content_pane div#banner img {
    width: 100%;
    align-self: center;
    justify-self: center;
}

div#content_pane div#main_content_pane {
    display: flex;
    flex-flow: column;
    text-align: center;
}

div#content_pane div#main_content_pane>div {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

div#content_pane div#main_content_pane>div>span {
    width: 25vw;
}

div#content_pane footer {
    margin-top: auto;
    text-align: right;
}

/* for about*/

div#main_page {
    background-color: #EFEFEF;
    padding-top: 20px;
}

div#details_page {
    margin: auto;
    width: 70%;
    background-color: #FFFFFF;
    padding: 3vh 2vw 3vh 2vw;
}

div#content_pane div#main_page div#details_page div span div .details, div#content_pane div#main_page div#details_page div#overview_section span.row_flex_flow .container .label_ans  {
    color: #767676;
}

div#content_pane div#main_page div#details_page div span div ul li {
    font-weight: bold;
}

div#content_pane div#main_page div#details_page div#overview_section span.row_flex_flow {
    display: flex;
    flex-flow: row;
    column-gap: 15vw;
    margin-bottom: 3vh;
}

div#content_pane label {
    margin-top: 1vh;   
    font-weight: bold; 
}

div#content_pane div#main_page div#details_page div#overview_section span.row_flex_flow .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
    word-wrap: break-word;
}